body{
	background-color: #f3f3f3;
	padding:0px;
	margin:0px;
}

.page {
	font-family: cursive;
	margin: 40px auto;
	border: 2px solid #219fbd;
	border-radius: 15px;
	background-color: white;
	overflow: hidden;
	font-weight: normal;
	
}

.main-nav{
	background-image:url(https://www.jaarbeurs.nl/foto/agenda/zorgict.jpg);
	background-repeat:no-repeat;
	background-position:center -30px;
	padding: 200px 20px 40px 20px;
   	margin-left: auto;
    	margin-right: auto;
}


.main-nav a{
	display:inline-block;
	border-radius: 5px 5px 5px 5px;
	border-bottom: 10px solid #ffd603;
	background-color:rgba(255, 255, 255, 0.64);
	color:#219fbd;
	text-decoration:none;
	padding: 5px 6.7%;
	position:relative;
	top: 10px;
	transition: top 300ms ease;
}

.main-nav a:hover{
	top:5px;
}

.page-content{
	padding: 20px;
}

h1{
	background-color: white;
	margin: 20px;
	padding: 10px 20px;
	color:#219fbd;
;
}

h2{
  	font-family:cursive;
	margin: 20px;
	padding: 10px 20px;
}

.top-nav ul{
	list-style-type:none;
}

.top-nav ul li{
	transition: all 300ms ease;
	left:0px;
	position:relative;
}

.top-nav ul li:hover{
	left: 4px;
}
